* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border:hover {
    border: 1px solid white;
}

/* box-1 */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("./Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
}

/* box-2 */

.add-first {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    columns: #ffffff;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box-3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    background-color: #febd68;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #0f1111;
}

/* box-4 */
.lang-select {
    background-color: #0f1111;
    color: white;
    border: none;
    height: 45px;
    width: 40px;
}

/* box-5 */
span {
    font-size: 12px;
}

.nav-sec {
    font-weight: 700;
}

/* box-7 */

.nav-cart {
    display: flex;
}

.nav-cart i {
    font-size: 25px;
    height: 25px;
}

.nav-cart p {
    display: flex;
    align-items: end;
}

/* Panel box */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opts p {
    display: inline;
    margin-left: 10px;
}

.panel-opts {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero Section */
.hero-section {
    background-image: url("./Images/hero_image.jpg");
    background-size: cover;
    width: 100;
    height: 350px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.hero-msg a {
    text-decoration: none;
}

.hero-msg {
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    width: 95%;
    margin-bottom: 20px;
}

/* main shop section */
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box-img {
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.box-content h2 {
    font-size: 1.4rem;
}

.box-content a {
    text-decoration: none;
}

.box-content {
    margin: 0.85rem;
}

/* Footer */
footer {
    margin-top: 15px;
}

.footer-panel1 {
    display: flex;
    background-color: #37475a;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

ul a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px;
}

ul p {
    font-weight: 700;
}

.footer-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("./Images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.85rem;
    text-align: center;
}

div a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.pages {
    padding-top: 20px;
}

.copyright {
    padding-top: 10px;
}