body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    border: 2px solid red;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.logo{
height: 50px;
}
.items{
    <span> Delivering to</span>
}
